<html>
<meta name="viewport" content="width=device-width, initial-scale=0.75">
<head><title>Add Choise</title></head>
<body style="background-color:002000">
<font face="Tahoma" color=white>
<form action="{% url 'index' %}addchoice/" onsubmit="return validate()" method="post">
<h3>
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="AddChoice" value="Submit">
</h3>
</form>
{% if choices %}
   {% for c in choices %}
      {{ c }} <a href="{% url 'index' %}{{ c.id }}/deactivatechoice/">Set Inactive</a>
      <br>
   {% endfor %}
{% else %}
   <p>NONE</p>
{% endif %}
<script>
function validate() {
   let rating = document.getElementById("id_question");
   let text = "Please pick a question.";
   if ( rating.value == -1 ) {
      alert(text);
      return false;
   }
   return true;
}
</script>
</body>
</html>