<html>
<meta name="viewport" content="width=device-width, initial-scale=0.75">
<head><title>Choose</title></head>
<!--<body style="background-color:000030">-->
<font face="Tahoma" color=603020>
<style>
body {
  background-image: url('/survey/steeple.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
blockquote {
    margin-left: 7%;
}
h3 {
    font-size: 1.25em;
    font-weight: normal;
}
</style>
<body>
<center><h2>Poll</h2></center>
<font size=5 color=301800>
<blockquote>
<form action="{% url 'index' %}{{ quest_id }}/choice/" method="post">
<h3>
    {% csrf_token %}
    {% for f in form %}
        <br>
        {% if f.name == "choice_" %}
            {{ f.label_tag }}
            <font size=5>
            {% for rad in form.choice_ %}
                <br>
                {{ rad.tag }} <a href="https://www.amazon.com/s?k={{ rad.choice_label }}" target="_blank">{{ rad.choice_label }}</a>
            {% endfor %}
        {% else %}
            {{ f.label_tag }} {{ f }}
        {% endif %}
    {% endfor %}
    <p>
    <input type="submit" name="choice" value="Submit" style="height:35px; width:100px">
</h3>
</form>
</body>
</html>
