<html>
<meta name="viewport" content="width=device-width, initial-scale=0.75">
<head><title>Choose</title></head>
<!--<body style="background-color:000030">-->
<font face="Tahoma" color=603020>
<style>
body {
  background-image: url('/survey/steeple.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
blockquote {
    margin-left: 7%;
}
h3 {
    font-size: 1.25em;
    font-weight: normal;
}
</style>
<center><h2>Poll</h2></center>
<font size=5 color=301800>
<blockquote>
<form action="{% url 'index' %}{{ quest_id }}/choice/" method="post">
<h3>
    {% csrf_token %}
    {% for f in form %}
        <br>
        {{ f.label_tag }} {{ f }}
    {% endfor %}
    <input type="submit" name="choice" value="Submit">
</h3>
</form>
</body>
</html>
