<html>
<head><title>Picker Help</title></head>
<body>
<blockquote>
<font face="Tahoma" color=#806565>
<center><h3>Picker Help</h3></center>
<font color=black>
1.  Under 'Enter Item' pick the sources(s)<!--retail and/or AI website{s}-->
you wish to see if your item is placed for sale.
<br>
2.  Inter item including brand name (if you know one) seperated by spaces.
<br>
3.  Click the check box if you wish to be alerted chronically.  Otherwise, you
will get an alert right away.
4.  Click 'Submit'
</body>
</html>