<html>
<meta name="viewport" content="width=device-width, initial-scale=0.75">
<head><title>Picker</title></head>
<style>
.container {
  display: flex;
  width:100%;
  <!-- overflow:auto; -->
}
.container div {
  width:47%;
  <!-- float:left; -->
  margin: 5px;
  padding: 1px;
  overflow: auto;
}
</style>
<body style="background-color:300000">
<font face="Tahoma" color=white>
<center><h1>Picker</h1></center>

<div class="container">
   <div style=background-color:450000>
      <center><h3>Enter Item</h3></center>
      <form action="/survey/pick/" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" name="Pick" value="Submit">
          <!--<iframe src="/survey/plist/" name="pickerRpt" height="400" width="600" title="Picker Report"></iframe>-->
      </form>
   </div>
   <div style=background-color:black>
      <center><h3>Picker History</h3></center>
      {% if hist %}
         {% for h in hist %}
            {{ h.item }}
            <br>
         {% endfor %}
      {% else %}
          <p>No answers are available.</p>
      {% endif %}
   </div>
</div>
</body>
</html>